body {
  color: aliceblue;
  background-color: black;
  font-family: "Quicksand", sans-serif;
}
header nav h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}
header nav h1 .prof {
  padding: 6px;
  border: 3px solid white;
  width: 20%;
  border-radius: 50%;
}

main .main-txt {
  display: flex;
  flex-direction: column;
}
main .main-txt h2 {
  text-shadow: 0px 0px 15px rgb(67, 67, 67);
  color: rgb(147, 147, 147);
  margin-top: 200px;
  text-align: center;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}
main .main-txt p {
  text-shadow: 0px 0px 25px rgb(255, 0, 0);
  color: rgb(105, 51, 51);
  text-align: center;
  font-size: 20px;
  font-family: "Orbitron", sans-serif;
}

main .main-txt .block a {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  color: aliceblue;
  font-weight: 600;
  text-decoration: none;
}
main .main-txt .block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 15%;
  height: 50px;
  background: linear-gradient(0deg, #000, #272727);
}

main .main-txt .block:before,
main .main-txt .block:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

main .main-txt .block:after {
  filter: blur(50px);
}
main .ani {
  background-image: url(img/gjo.gif);
  width: 15%;
  margin: 0 auto;
  margin-top: 100px;
  opacity: 0.7;
  height: 170px;
}
main .activites {
  margin-top: 230px;
}
main .activites .mtxt {
  font-size: 40px;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
main .activites .cards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 66%;
  height: 350px;
  margin-top: 250px;
  background: linear-gradient(0deg, #000, #272727);
}

main .activites .cards .card:before,
main .activites .cards .card:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  border-top-left-radius: 20px;
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: clor 20s linear infinite;
}

@keyframes clor {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

main .activites .cards .card:after {
  filter: blur(50px);
}
main .activites .cards .card .mc {
  height: 350px;
  width: 40%;
  border-top-left-radius: 20px;
}
main .activites .cards .card div {
  margin-right: 200px;
}
main .activites .cards .card div h2 {
  font-family: "Orbitron", sans-serif;
}
main .activites .cards .card div p {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: "Orbitron", sans-serif;
}
main .activites .cards .card div .btn {
  text-decoration: none;
  color: aliceblue;
  border: 3px solid greenyellow;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px white;
}
